<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error - Poesis</title>
    {{head}}
</head>
<body class="min-h-screen dark:bg-neutral-900 dark:text-white text-start">

    {{navbar}}

    <main class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-7xl mx-auto fade-in">
        <h1 class="text-3xl pb-2">Internal Server Error</h1>
        <p class="py-4">Sorry, an error occured on our end. Please try again later.</p>
    </main>

    {{footer}}

</body>
</html>