<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Poesis</title>
    {{head}}
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <div class="flex flex-wrap pt-24 w-full gap-12 px-6 sm:px-20 max-w-6xl mx-auto">
        <div class="w-96 flex-auto fade-in">
            <p class="text-3xl pb-4">About Poesis</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non augue varius, accumsan felis et, vestibulum nulla. Cras tristique, mi nec sagittis eleifend, ex ligula mollis nibh, consequat tempor metus urna eu metus. Morbi eu cursus magna. Aliquam ac turpis feugiat, pellentesque sem vitae, scelerisque enim. Etiam sit amet tincidunt erat. Cras mattis et odio vel faucibus. Fusce sollicitudin, metus et efficitur dictum, risus metus elementum risus, eget feugiat velit massa et dui.</p>
        </div>
        <div class="w-56 flex-initial fade-in">
            <div id="sidepane" class="max-w-sm flex flex-col gap-4">
                <p class="text-xl">Credits</p>
                <div>
                    <p class="">Programmer</p>
                    <a class="font-light hover:underline decoration-from-font" href="https://davidweis.eu">David Weis</a>
                </div>
                <div>
                    <p class="">Project leader</p>
                    <p class="font-light">Bob Marley</p>
                </div>
                <p class="pt-4 text-xl">Third party licenses</p>
                <div>
                    <p>Material Symbols</p>
                    <a class="font-light hover:underline decoration-from-font" href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache License Version 2.0</a>
                </div>
            </div>
        </div>
    </div>

    {{footer}}

</body>
</html>