<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Poesis</title>
    {{head}}
    <meta name="description" content="Discover what it means to be a free poetry collection like Poesis and see who is behind the project.">
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <main class="flex flex-wrap pt-24 w-full gap-12 px-6 sm:px-20 max-w-7xl mx-auto">
        <div class="w-96 flex-auto fade-in">
            <h1 class="text-3xl pb-4">About Poesis</h1>
            <p>Poesis is a free poetry collection featuring poems from many different authors and in many different languages. Sourced by the community, Poesis serves as a place for anyone with an internet connection to discover verses that resonate across time and place, whether these are by seasoned authors or by those "forgotten". Proudly <a class="text-neutral-400 hover:text-white underline" href="/license">licensed under CC BY-SA</a>, Poesis ensures that the excellence curated can be spread far and wide. So whether you're seeking profound insights, emotional depth, or sheer lyrical brilliance, Poesis invites you to immerse yourself in the finest works the poetic realm has to offer.</p>
        </div>
        <div class="w-56 flex-initial pt-4 fade-in">
            <div id="sidepane" class="max-w-sm flex flex-col gap-4">
                <h2 class="text-xl">Credits</h2>
                <div>
                    <p>Creator</p>
                    <a class="font-light hover:underline decoration-from-font" href="https://davidweis.eu">David Weis</a>
                </div>
                <h2 class="pt-4 text-xl">Third party licenses</h2>
                <div>
                    <p>Material Symbols</p>
                    <a class="font-light hover:underline decoration-from-font" href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache License Version 2.0</a>
                </div>
            </div>
        </div>
    </main>

    {{footer}}

</body>
</html>