<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author}} - Poesis</title>
    <link href="/build.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="48x48" href="/icon_48_dark.png" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" sizes="48x48" href="/icon_48_light.png" media="(prefers-color-scheme: dark)">
    <link rel="manifest" href="/manifest.json">
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <div class="pt-24 px-6 sm:px-20 max-w-6xl mx-auto">
        <p class="text-3xl fade-in">{{author}}</p>
        <p class="py-2 pb-6 fade-in font-light">This is a complete collection of all works by {{author}} there are on Poesis</p>
        <div class="flex flex-wrap w-full gap-8 fade-in">{{snippets}}</div>
    </div>

    {{footer}}

</body>
</html>