<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Poesis</title>
    {{head}}
    <meta name="description" content="See how you can reach out with regards to Poesis.">
</head>
<body class="min-h-screen dark:bg-neutral-900 dark:text-white text-start">

    {{navbar}}

    <main class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-7xl mx-auto fade-in">
        <h1 class="text-3xl pb-2">Contact</h1>
        <p class="pt-4">If you have any questions about the site or just wish to say hi, you may reach out at <a class="text-neutral-600 dark:text-neutral-400 hover:text-black dark:hover:text-white underline" href="mailto:hello@poesis.io">hello@poesis.io</a></p>
        <p class="pt-4">If you would like to submit a poem, please read the <a class="text-neutral-600 dark:text-neutral-400 hover:text-black dark:hover:text-white underline" href="/contribute">contribution guide</a> and follow the steps there</p>
        <p class="pt-4">If you have found a bug, please open an issue on <a class="text-neutral-600 dark:text-neutral-400 hover:text-black dark:hover:text-white underline" href="https://github.com/elastic-rock/poesis/issues">GitHub</a></p>
        <p class="pt-4">For any security issues, see the page on <a class="text-neutral-600 dark:text-neutral-400 hover:text-black dark:hover:text-white underline" href="/security">security</a></p>
        <p class="pt-4">If your copyrights have been infringed upon on Poesis, please reach out at the above mentioned email address. The page will be removed as soon as possible until the issue is resolved. You should provide some evidence to back your claim.</p>
    </main>

    {{footer}}

</body>
</html>