<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poesis</title>
    {{head}}
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <noscript>
        <p class="text-center fade-in pt-24">This page requires JavaScript to function</p>
    </noscript>

    <div class="flex flex-wrap pt-24 w-full gap-12 px-6 sm:px-20 max-w-6xl mx-auto">
        <div id="errorPlaceholder" class="hidden w-max flex-auto h-max fade-in">
            <div class="flex flex-row items-center">
                <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                    <path id="errorIcon" d="M248-171q-88 0-148-59T40-377q0-80 50.5-134T217-577q2-14 6.5-31.5T236-640L91-785q-9-9-9-21t9-21q9-9 21-9t21 9l707 707q9 9 9 21t-9 21q-9 9-21.5 9T797-78l-94-93H248Zm0-60h397L285-591q-11 15-14.5 34t-3.5 37h-19q-62 0-105 39.5t-43 101q0 61.5 43 105T248-231Zm216-181Zm390 210-47-47q25-17 39-38t14-50q0-43-31-73.5T755-441h-67v-81q0-88-61-147.5T478.47-729q-28.47 0-60.97 9T358-691l-42-42q36-29 77.5-42.5T478-789q111 0 190.5 79T748-520v21q72-1 122 45t50 117q0 35-16.5 73.5T854-202ZM583-470Z"/>
                </svg>
                <p id="errorText" class="ps-4 whitespace-pre-line"></p>
            </div>
            <div id="errorBtns" class="h-[76px] pt-8 flex flex-row gap-4">
                <button id="retry" class="inline-flex justify-center items-center rounded-full border-neutral-500 border-2 hover:border-white py-2 px-4">
                    <svg class="pe-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-70q0-17 11.5-28.5T760-800q17 0 28.5 11.5T800-760v200q0 17-11.5 28.5T760-520H560q-17 0-28.5-11.5T520-560q0-17 11.5-28.5T560-600h128q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q68 0 124.5-34.5T692-367q8-14 22.5-19.5t29.5-.5q16 5 23 21t-1 30q-41 80-117 128t-169 48Z"/>
                    </svg>
                    Retry
                </button>
            </div>
        </div>

        <div data-nosnippet id="poemPlaceholder" class="w-max flex flex-col flex-auto">
            <a id="title" href="" class="text-3xl h-[36px] hover:underline decoration-from-font"></a>
            <a id="author" href="" class="text-lg font-light pt-1 pb-2 h-[40px] hover:underline decoration-from-font"></a>
            <div class="relative my-4 h-[312px] overflow-hidden">
                <div class="absolute inset-0 z-20 bg-gradient-to-b from-transparent from-80% to-neutral-900"></div>
                <div id="poem" class="relative z-10 -indent-8 ps-8"></div>
            </div>
            <div class="py-2 flex flex-row gap-4 h-[59px]">
                <button id="reload" class="hidden justify-center items-center rounded-full border-neutral-500 border-2 hover:border-white py-2 px-4 fade-in">
                    <svg class="pe-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-70q0-17 11.5-28.5T760-800q17 0 28.5 11.5T800-760v200q0 17-11.5 28.5T760-520H560q-17 0-28.5-11.5T520-560q0-17 11.5-28.5T560-600h128q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q68 0 124.5-34.5T692-367q8-14 22.5-19.5t29.5-.5q16 5 23 21t-1 30q-41 80-117 128t-169 48Z"/>
                    </svg>
                    Reload
                </button>
                <button id="expand" class="hidden text-nowrap justify-center items-center rounded-full border-neutral-500 border-2 hover:border-white py-2 px-4 fade-in">
                    <svg class="pe-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                    </svg>
                    Read more
                </button>
            </div>
        </div>
        <div class="w-96 flex-initial">
            <div id="sidepane" class="max-w-sm hidden fade-in">
                <p class="text-xl">About Poesis</p>
                <p class="py-4">Poesis is an online collection of poems featuring works of authors from all around the world. Be surprised by a random poem or delve into the depths of our database.</p>
            </div>
        </div>
    </div>

    {{footer}}

    <script nonce="{{nonce}}">
        const authorElement = document.getElementById("author");
        const titleElement = document.getElementById("title");
        const poemElement = document.getElementById("poem");

        const reloadBtn = document.getElementById("reload");
        const expandBtn = document.getElementById("expand");
        const sidepaneElement = document.getElementById("sidepane");
        const poemPlaceholder = document.getElementById("poemPlaceholder");

        const errorPlaceholder = document.getElementById("errorPlaceholder");
        const errorText = document.getElementById("errorText");
        const errorIcon = document.getElementById("errorIcon");
        const retryBtn = document.getElementById("retry");
        const errorBtns = document.getElementById("errorBtns");

        let readMoreUrl = "";
        let previousIndex = 789;

        function displayOfflineError() {
            errorText.textContent = "You are offline"
            errorIcon.setAttribute("d", "M260-160q-92 0-156-64T40-380q0-77 47.5-137T210-594q3-8 6-15.5t6-16.5L84-764q-11-11-11-28t11-28q11-11 28-11t28 11l680 680q11 11 11.5 27.5T820-84q-11 11-27.5 11.5T764-83l-78-77H260Zm0-80h346L284-562q-2 11-3 21t-1 21h-20q-58 0-99 41t-41 99q0 58 41 99t99 41Zm185-161Zm419 191-58-56q17-14 25.5-32.5T840-340q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-27 0-52 6.5T380-693l-58-58q35-24 74.5-36.5T480-800q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 39-15 72.5T864-210ZM593-479Z");
            errorBtns.classList.remove("hidden");
            poemPlaceholder.classList.add("hidden");
            errorPlaceholder.classList.remove("hidden");
            sidepaneElement.classList.remove("hidden");
        }

        function displayHTTPError(responseCode) {
            errorText.textContent = `Error ${responseCode}`
            errorIcon.setAttribute("d", "M479.98-280q14.02 0 23.52-9.48t9.5-23.5q0-14.02-9.48-23.52t-23.5-9.5q-14.02 0-23.52 9.48t-9.5 23.5q0 14.02 9.48 23.52t23.5 9.5Zm3.2-153q12.82 0 21.32-8.63 8.5-8.62 8.5-21.37v-193q0-12.75-8.68-21.38-8.67-8.62-21.5-8.62-12.82 0-21.32 8.62-8.5 8.63-8.5 21.38v193q0 12.75 8.68 21.37 8.67 8.63 21.5 8.63Zm-2.91 353q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z");
            errorBtns.classList.add("hidden");
            poemPlaceholder.classList.add("hidden");
            errorPlaceholder.classList.remove("hidden");
            sidepaneElement.classList.remove("hidden");
        }

        function setPoem(data) {
            poemPlaceholder.classList.remove("hidden");
            errorPlaceholder.classList.add("hidden");
            const lines = data.poem.split('\n');
            authorElement.textContent = data.author;
            authorElement.classList.add('fade-in');
            titleElement.textContent = data.title;
            titleElement.classList.add('fade-in');
            lines.forEach(line => {
                if (line.trim() === '') {
                    const br = document.createElement('br');
                    poemElement.appendChild(br);
                } else {
                    const p = document.createElement('p');
                    p.textContent = line;
                    p.classList.add('fade-in');
                    poemElement.appendChild(p);
                }
            });
            sidepaneElement.classList.remove("hidden");
            reloadBtn.classList.replace("hidden", "inline-flex");
            expandBtn.classList.replace("hidden", "inline-flex");
            readMoreUrl = `/${data.author_slug}/${data.title_slug}`;
            titleElement.setAttribute("href", `/${data.author_slug}/${data.title_slug}`);
            authorElement.setAttribute("href", `/${data.author_slug}`);
        }

        async function fetchRandomPoem() {
            try {
                let fetchUrl = "";
                if (previousIndex !== 789) {
                    fetchUrl = `/data/poem/random?ex=${previousIndex}`
                } else {
                    fetchUrl = "/data/poem/random";
                }
                const response = await fetch(fetchUrl);
                if (!response.ok) {
                    displayHTTPError(response.status);
                    return
                }
                const data = await response.json();
                previousIndex = data.index;
                setPoem(data);
            } catch (error) {
                console.error(error);
                if (error instanceof TypeError) {
                    displayOfflineError();
                }
            }
        }

        fetchRandomPoem();

        reloadBtn.addEventListener("click", (event) => {
            reloadBtn.classList.replace("inline-flex", "hidden");
            expandBtn.classList.replace("inline-flex", "hidden");
            authorElement.textContent = "";
            authorElement.classList.remove('fade-in');
            titleElement.textContent = "";
            titleElement.classList.remove('fade-in');
            poemElement.textContent = "";
            fetchRandomPoem();
        });

        expandBtn.addEventListener("click", (event) => {
            window.location.href = readMoreUrl;
        });

        retryBtn.addEventListener("click", (event) => {
            fetchRandomPoem();
        });
    </script>

</body>
</html>