<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Poesis</title>
    {{head}}
    <meta name="description" content="Read what data Poesis collects on you, how it is stored, and how to learn more with respect to it.">
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <main class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-7xl mx-auto fade-in">
        <h1 class="text-3xl pb-2">Privacy Policy</h1>
        <p class="font-light">Last update: 29/04/2025</p>
        <h2 class="text-xl pt-6 pb-2">What data is collected and why</h2>
        <div class="py-4">
            <p>Access log: Your IP addresses, User-Agent headers and Referrer headers may be collected in server access logs. Logs older than 30 days are automatically deleted. However, your identifiers may be retained permanently if you are engaged in activities that endanger the security and uptime of the website (spamming, DDoS attacks, brute force attacks, etc.). The legal basis of this processing is the legitimate interest to protect the service from nefarious activities.</p>
        </div>
        <h2 class="text-xl pt-4 pb-2">How is your data secured</h2>
        <p class="py-4">Your data is encrypted in transit using SSL and stored on a server in Tuusula, Finland with Hetzner. Your data never leaves the EU. For more information, see <a class="text-neutral-400 hover:text-white underline" href="https://www.hetzner.com/legal/privacy-policy">Hetzner's privacy policy</a>.</p>
        <h2 class="text-xl pt-4 pb-2">When is your data shared</h2>
        <p class="py-4">When required under applicable law</p>
        <h2 class="text-xl pt-4 pb-2">Changes and question</h2>
        <p class="py-4">This policy may be updated as needed to comply with relevant regulations and reflect any new practices. If you have any question, comments, or concerns about this privacy policy, your data, or your rights with respect to your information, please reach out at <a class="text-neutral-400 hover:text-white underline" href="mailto:hello@poesis.io">hello@poesis.io</a>.</p>
    </main>

    {{footer}}

</body>
</html>