<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Poesis</title>
    {{head}}
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <div class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-6xl mx-auto fade-in">
        <p class="text-3xl pb-2">Privacy Policy</p>
        <p class="font-light">Last update: 09/10/2024</p>
        <p class="py-4">The privacy of your data is a big deal to us. In this policy, we lay out what data we collect, why it is collected, and how we handle it.</p>
        <p class="text-xl pt-4 pb-2">What we collect and why</p>
        <p class="py-4">The only data we collect are IP addresses and User-Agent headers from our server access logs. Logs older than 30 days are automatically deleted. However, your IP address may be retained permanently if you are engaged in activities that breach our terms and conditions (spamming, DDoS attacks, brute force attacks, etc). The legal basis of this processing is our legitimate interest to protect our service from nefarious activities.</p>
        <p class="text-xl pt-4 pb-2">When do we share your data</p>
        <p class="py-4">Your data will only be shared when required under applicable law. If the appropriate law enforcement authorities have the necessary warrant, or court order requiring we share data, we have to comply.</p>
        <p class="text-xl pt-4 pb-2">Changes and question</p>
        <p class="py-4">We may update this policy as needed to comply with relevant regulations and reflect any new practices. If you have any question, comments, or concerns about this privacy policy, your data, or your rights with respect to your information, please <a class="text-neutral-400 hover:text-white" href="/about">contact us</a>.</p>
    </div>

    {{footer}}

</body>
</html>