<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Poesis</title>
    {{head}}
</head>
<body class="min-h-screen bg-neutral-900 text-white text-start">

    {{navbar}}

    <main class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-6xl mx-auto fade-in">
        <p class="text-3xl pb-2">Privacy Policy</p>
        <p class="font-light">Last update: 19/10/2024</p>
        <p class="py-4">The privacy of your data is a big deal to us. In this policy, we lay out what data we collect, why it is collected, and how we handle it.</p>
        <p class="text-xl pt-4 pb-2">What we collect and why</p>
        <ul class="list-disc py-4 ms-8">
            <li>Access log: We may collect IP addresses, User-Agent headers and Referrer headers in our server access logs. Logs older than 30 days are automatically deleted. However, your identifiers may be retained permanently if you are engaged in activities that endanger the security and uptime of Poesis (spamming, DDoS attacks, brute force attacks, etc). The legal basis of this processing is our legitimate interest to protect the service from nefarious activities.</li>
            <br/>
            <li>Anonymous analytics: Using an in-house solution, we may collect the following data in an anonymous way: page URL, HTTP Referrer, browser name + version, OS name, and country. The data is isolated to a single day and single device only by hashing the User-Agent header along with the IP address using a daily rotating salt which is purged upon rotation. We do not track you across websites, we do not store cookies, and we do not use any persistent identifiers.</li>
        </ul>
        <p class="text-xl pt-4 pb-2">How we secure your data</p>
        <p class="py-4">Your data is encrypted in transit using SSL. All of our hosting is done through Google Cloud, where data is geographically stored in Europe and encrypted at rest.</p>
        <p class="text-xl pt-4 pb-2">When do we share your data</p>
        <ul class="list-disc py-4 ms-8">
            <li>When required under applicable law</li>
            <li>Publically as anonymous visitor statistics</li>
            <li>In possible ownership transfers</li>
        </ul>
        <p class="text-xl pt-4 pb-2">Changes and question</p>
        <p class="py-4">We may update this policy as needed to comply with relevant regulations and reflect any new practices. If you have any question, comments, or concerns about this privacy policy, your data, or your rights with respect to your information, please <a class="text-neutral-400 hover:text-white" href="/about">contact us</a>.</p>
    </main>

    {{footer}}

</body>
</html>