<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - Poesis</title>
    {{head}}
    <meta name="description" content="Search and explore all the poems available on Poesis.">
</head>
<body class="min-h-screen dark:bg-neutral-900 dark:text-white text-start">

    {{navbar}}

    <main class="pt-24 px-6 sm:px-20 max-w-7xl mx-auto">
        <h1 class="text-3xl pb-6 fade-in">{{heading}}</h1>
        <div class="flex flex-wrap w-full gap-8 fade-in">{{snippets}}</div>
    </main>

    {{footer}}

</body>
</html>