<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Policy - Poesis</title>
    {{head}}
    <meta name="description" content="Learn how to proceed if you have found a security vulnerability on Poesis.">
</head>
<body class="min-h-screen dark:bg-neutral-900 dark:text-white text-start">

    {{navbar}}

    <main class="pt-24 w-full gap-12 px-6 sm:px-20 max-w-7xl mx-auto fade-in">
        <h1 class="text-3xl pb-2">Security Policy</h1>
        <p class="pt-4">Please do not report security vulnerabilities publicly</p>
        <p class="pt-4">If you believe you found a security vulnerability on the website, you are encouraged to reach out at <a class="text-neutral-600 dark:text-neutral-400 hover:text-black dark:hover:text-white underline" href="mailto:hi@davidweis.eu">hi@davidweis.eu</a></p>
        <p class="pt-4">I will try to get in touch with you as soon as possible to discuss the matter and if needed, patch the vulnerability. After patching, the vulnerability will be publicly disclosed and your contribution recognised by listing your name in the changelog or, upon request, other methods deemed relevant. You can then optional make a public disclosure yourself.</p>
        <p class="pt-4">Thank you!</p>
    </main>

    {{footer}}

</body>
</html>