<footer class="flex flex-row flex-wrap justify-center gap-x-8 gap-y-2 text-center sticky top-[100vh] px-6 pb-6 pt-12 w-full text-neutral-600 dark:text-neutral-400">
    <div class="flex flex-row flex-wrap justify-center gap-x-8 gap-y-2">
        <a class="hover:underline" href="/about">About</a>
        <a class="hover:underline" href="/contact">Contact</a>
        <a class="hover:underline" href="https://github.com/elastic-rock/poesis">GitHub</a>
        <a class="hover:underline" href="/privacy">Privacy</a>
    </div>
</footer>