<footer class="flex flex-row flex-wrap justify-center gap-x-8 gap-y-2 text-center sticky top-[100vh] px-6 pb-6 pt-12 w-full text-neutral-600">
    <p>© 2024 David Weis</p>
    <a class="hover:underline" href="/about">About</a>
    <a class="hover:underline" href="/privacy">Privacy</a>
    <button id="resetBtn" class="hover:underline" href="/privacy">Reset</button>
    <script nonce="{{nonce}}">
        const resetBtn = document.getElementById("resetBtn");
        resetBtn.addEventListener("click", (event) => {
            const languageCode = languageBtn.textContent.toLowerCase()
            if (confirm(`Are you sure you want to reset local preferences?`)) {
                localStorage.removeItem("exLang");
            }
        });
    </script>
</footer>